<md-toolbar color="primary" class="mat-elevation-z6">
  <a md-button class="timetable-button" routerLink="/" aria-label="Angular Material">
    <img class="timetable-videtur-logo"
         src="../../../assets/img/videtur-logo.png"
         alt="videtur">
    <span>UL Timetable</span>
  </a>
  <div class="legend-outer-container">
    <div class="legend-inner-container">
      <div class="legend-item"><md-icon svgIcon="tutorial" mdTooltip="Tutorial"></md-icon> = Tutorial</div>  
      <div class="legend-item"><md-icon svgIcon="lecture" mdTooltip="Lecture"></md-icon> = Lecture</div>  
      <div class="legend-item"><md-icon svgIcon="lab" mdTooltip="Lab"></md-icon> = Lab</div>  
    </div>
  </div>
  <div class="flex-spacer"></div>
  <a md-button class="timetable-button" href="https://github.com/videtur/ul-timetable-client" aria-label="GitHub Repository">
    <img class="timetable-github-logo"
         src="../../../assets/img/github-circle.svg"
         alt="GitHub">
    GitHub
  </a>
</md-toolbar>
